.carousel__pagination[data-v-4a980e96]{display:flex;gap:var(--vc-pgn-gap);justify-content:center;left:50%;list-style:none;margin:0;padding:0;position:absolute;transform:translate(-50%);bottom:-16px!important}
